/* FONTS AND TYPE */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Source Sans Pro Light", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* Negative offset for text-indent */
/* Colors */
/* Icon Fonts */
[class^="icon-"], [class*=" icon-"] {
  font-size: 48px;
  color: #666666; }
  [class^="icon-"].small-sz, [class*=" icon-"].small-sz {
    font-size: 36px; }
  [class^="icon-"].default-sz, [class*=" icon-"].default-sz {
    font-size: 48px; }
  [class^="icon-"].large-sz, [class*=" icon-"].large-sz {
    font-size: 64px; }

/* Borders */
/* FONTS AND TYPE */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Source Sans Pro Light", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* Negative offset for text-indent */
/* Colors */
/* Icon Fonts */
[class^="icon-"], [class*=" icon-"] {
  font-size: 48px;
  color: #666666; }
  [class^="icon-"].small-sz, [class*=" icon-"].small-sz {
    font-size: 36px; }
  [class^="icon-"].default-sz, [class*=" icon-"].default-sz {
    font-size: 48px; }
  [class^="icon-"].large-sz, [class*=" icon-"].large-sz {
    font-size: 64px; }

/* Borders */
@font-face {
  font-family: 'dash-pictorials';
  src: url("../fonts/dash-pictorials.eot?7z0yhz");
  src: url("../fonts/dash-pictorials.eot?7z0yhz#iefix") format("embedded-opentype"), url("../fonts/dash-pictorials.ttf?7z0yhz") format("truetype"), url("../fonts/dash-pictorials.woff?7z0yhz") format("woff"), url("../fonts/dash-pictorials.svg?7z0yhz#dash-pictorials") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dash-pictorials' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e900"; }

.icon-compass:before {
  content: "\e901"; }

.icon-cyber:before {
  content: "\e902"; }

.icon-down-arrow:before {
  content: "\e903"; }

.icon-dropdown-arrow:before {
  content: "\e904"; }

.icon-governance:before {
  content: "\e905"; }

.icon-grid:before {
  content: "\e906"; }

.icon-keyword:before {
  content: "\e907"; }

.icon-list:before {
  content: "\e908"; }

.icon-menu:before {
  content: "\e909"; }

.icon-organization:before {
  content: "\e90a"; }

.icon-search-alt:before {
  content: "\e90b"; }

.icon-search:before {
  content: "\e90c"; }

.icon-star-filled:before {
  content: "\e90d"; }

.icon-star-outline:before {
  content: "\e90e"; }

.icon-sustainability:before {
  content: "\e90f"; }

.icon-topic:before {
  content: "\e910"; }

.icon-up-arrow:before {
  content: "\e911"; }

.icon-user:before {
  content: "\e912"; }

.icon-warning:before {
  content: "\e913"; }

.icon-workforce:before {
  content: "\e914"; }

/* FONTS AND TYPE */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Source Sans Pro Light", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* Negative offset for text-indent */
/* Colors */
/* Icon Fonts */
[class^="icon-"], [class*=" icon-"] {
  font-size: 48px;
  color: #666666; }
  [class^="icon-"].small-sz, [class*=" icon-"].small-sz {
    font-size: 36px; }
  [class^="icon-"].default-sz, [class*=" icon-"].default-sz {
    font-size: 48px; }
  [class^="icon-"].large-sz, [class*=" icon-"].large-sz {
    font-size: 64px; }

/* Borders */
.btn, button {
  font-family: "Source Sans Pro Semi Bold", sans-serif;
  background-color: #288e50;
  border-radius: 3px;
  font-size: 16px;
  border: none;
  color: #ffffff;
  padding: 15px 20px; }
  .btn.feature-button, button.feature-button {
    font-size: 16px;
    padding: 15px 30px !important; }
  .btn:hover, .btn:active, .btn:focus, button:hover, button:active, button:focus {
    background-color: #195731;
    color: #ffffff; }
  .btn.ghost-button, button.ghost-button {
    background-color: transparent;
    color: #00709A; }
    .btn.ghost-button:hover, .btn.ghost-button:active, .btn.ghost-button:focus, button.ghost-button:hover, button.ghost-button:active, button.ghost-button:focus {
      background-color: transparent;
      text-decoration: underline; }
  .btn.clear, button.clear {
    background-color: transparent;
    padding: 13px 20px;
    border: 2px solid #334a6b; }
    .btn.clear.blue, button.clear.blue {
      border-color: #334a6b;
      color: #334a6b; }
      .btn.clear.blue:hover, .btn.clear.blue:active, .btn.clear.blue:focus, button.clear.blue:hover, button.clear.blue:active, button.clear.blue:focus {
        background-color: #334a6b;
        color: #ffffff; }
    .btn.clear.white, button.clear.white {
      border-color: #ffffff;
      color: #ffffff; }
      .btn.clear.white:hover, .btn.clear.white:active, .btn.clear.white:focus, button.clear.white:hover, button.clear.white:active, button.clear.white:focus {
        color: #666666;
        border: 2px solid #ffffff;
        background-color: #ffffff; }
  .btn.icon-button, button.icon-button {
    background-color: transparent;
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 0; }
    .btn.icon-button.light i, button.icon-button.light i {
      color: #ffffff; }
    .btn.icon-button .no-text, button.icon-button .no-text {
      display: inline-block;
      text-indent: -20000px; }
  .btn.icon-button-footer, button.icon-button-footer {
    padding: 0 !important;
    margin: 0 0 0 40px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: inline-block; }
    .btn.icon-button-footer .no-text, button.icon-button-footer .no-text {
      display: inline-block;
      text-indent: -20000px; }

/*VISUAL FOCUS INDICATOR FOR ACCESSIBILITY PURPOSES*/
/* FONTS AND TYPE */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Source Sans Pro Light", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* Negative offset for text-indent */
/* Colors */
/* Icon Fonts */
[class^="icon-"], [class*=" icon-"] {
  font-size: 48px;
  color: #666666; }
  [class^="icon-"].small-sz, [class*=" icon-"].small-sz {
    font-size: 36px; }
  [class^="icon-"].default-sz, [class*=" icon-"].default-sz {
    font-size: 48px; }
  [class^="icon-"].large-sz, [class*=" icon-"].large-sz {
    font-size: 64px; }

/* Borders */
.feature-card.right .floating-container {
  float: right; }
.feature-card.left .floating-container {
  float: left; }
.feature-card.blue {
  background-color: #00709A; }
  .feature-card.blue .feature-title {
    color: #ffffff; }
  .feature-card.blue .feature-text {
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0 30px; }
  .feature-card.blue .feature-button:hover, .feature-card.blue .feature-button:active, .feature-card.blue .feature-button:focus {
    color: #00709A; }
.feature-card.white {
  background-color: #f5f5f5;
  color: #192A44; }
  .feature-card.white .feature-title {
    color: #192A44; }
  .feature-card.white .feature-text {
    color: #192A44;
    font-size: 18px;
    margin: 20px 0 30px; }
  .feature-card.white .feature-button {
    border-color: #192A44;
    color: #192A44; }
    .feature-card.white .feature-button:hover, .feature-card.white .feature-button:active, .feature-card.white .feature-button:focus {
      background-color: #192A44;
      color: #ffffff; }
.feature-card .container {
  padding: 100px 0;
  background-size: cover; }
  .feature-card .container.workforce {
    background: url("../img/workforce-bg.png") no-repeat 0 0; }
  .feature-card .container.dashboard {
    background: url("../img/dashboard-bg.png") no-repeat right center; }
.feature-card .floating-container {
  display: inline-block;
  width: 50%;
  padding-right: 10%; }
  .feature-card .floating-container .feature-title {
    font-family: "Source Sans Pro Light", sans-serif;
    font-size: 36px; }
    .feature-card .floating-container .feature-title span {
      font-family: "Source Sans Pro Light", sans-serif; }
    .feature-card .floating-container .feature-title .sub-title {
      font-family: "Source Sans Pro Light", sans-serif;
      color: inherit;
      font-style: italic;
      font-size: 36px; }
  .feature-card .floating-container .feature-text {
    font-size: 18px;
    margin: 20px 0 30px; }

.nav-container {
  background-color: transparent;
  width: 100%;
  height: 85px; }
  .nav-container.footer {
    height: auto; }
  .nav-container .navbar-default {
    background: #0a1e37;
    padding: 30px 0 20px;
    border: none; }
    .nav-container .navbar-default .logo {
      display: inline-block;
      float: left;
      margin-top: -3px;
      background: url("../img/dashboards_logo.svg") 0 0 no-repeat !important;
      background-size: 323px 35px;
      width: 323px;
      height: 35px;
      text-indent: -20000px; }
    .nav-container .navbar-default ul {
      list-style: none;
      list-style-type: none;
      background: transparent;
      padding: 0;
      margin: 0;
      display: inline-block;
      float: right; }
      .nav-container .navbar-default ul li {
        float: left;
        display: inline; }
        .nav-container .navbar-default ul li a {
          color: #ffffff;
          font-size: 18px;
          text-transform: uppercase;
          display: block;
          padding: 0 13px; }
        .nav-container .navbar-default ul li button {
          margin-top: -13px; }
  .nav-container .footer-nav {
    padding: 30px 0 20px;
    border-radius: 0;
    margin-bottom: 0; }
    .nav-container .footer-nav .logo {
      background-size: 225px 25px;
      width: 225px;
      height: 25px; }
    .nav-container .footer-nav ul li a {
      color: #E5E5E5;
      font-size: 14px; }

.treasury-seal-footer {
  display: inline-block;
  background: url("../img/treasury-seal.svg") 0 0;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin: -6px 0 0 0; }

/* FONTS AND TYPE */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/SourceSansPro-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
*, body, div, a, span, p, ul, li, strong {
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Source Sans Pro Light", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

/* Negative offset for text-indent */
/* Colors */
/* Icon Fonts */
[class^="icon-"], [class*=" icon-"] {
  font-size: 48px;
  color: #666666; }
  [class^="icon-"].small-sz, [class*=" icon-"].small-sz {
    font-size: 36px; }
  [class^="icon-"].default-sz, [class*=" icon-"].default-sz {
    font-size: 48px; }
  [class^="icon-"].large-sz, [class*=" icon-"].large-sz {
    font-size: 64px; }

/* Borders */
.page-title-container {
  background: url("../img/treasury-bg.jpg") no-repeat 0 35%;
  background-size: 100vw;
  background-color: #0a2c45;
  width: 100%;
  display: block;
  padding: 35px;
  margin: 0 0 60px; }
  .page-title-container .page-title {
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    padding: 0; }

.section-title {
  font-size: 24px;
  color: #334a6b;
  margin: 0 0 25px; }

.page-intro {
  font-size: 18px;
  color: #333333; }

/*************************************** DEMO STYLES ***************************************/
.section {
  margin: 30px 0; }
  .section.icons-section {
    margin-top: 60px; }

.code-snippet {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #008080;
  font-size: 14px;
  border: 1px solid #E5E5E5;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border: 1px solid #E5E5E5;
  padding: 20px;
  text-align: left; }
  .code-snippet.h1 {
    margin-top: -30px; }
  .code-snippet .code-text {
    color: #333333; }
  .code-snippet .attribute {
    color: #d14; }
    .code-snippet .attribute .variable {
      color: #870a29; }
  .code-snippet .comment {
    font-size: 12px;
    color: #666666;
    font-style: italic;
    text-transform: uppercase; }

.color-box {
  background-color: #192A44;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  color: #ffffff;
  float: left;
  margin: 10px;
  text-align: center;
  display: block;
  font-size: 12px;
  padding-top: 35px;
  font-family: "Source Sans Pro Bold", sans-serif; }
  .color-box.nav-blue {
    background-color: #0a1e37; }
  .color-box.dark-blue {
    background-color: #192A44; }
  .color-box.bg-blue {
    background-color: #0a2c45; }
  .color-box.medium-blue {
    background-color: #334a6b; }
  .color-box.light-blue {
    background-color: #00709A; }
  .color-box.dash-green {
    background-color: #288e50; }
  .color-box.dark-green {
    background-color: #195731; }
  .color-box.dash-red {
    background-color: #98452e; }
  .color-box.dash-yellow {
    background-color: #BFAF26; }
  .color-box.dark-gray {
    background-color: #333333; }
  .color-box.accent-gray {
    background-color: #E5E5E5;
    color: #333333; }
  .color-box.pale-gray {
    background-color: #f9f9f9;
    border: 1px solid #E5E5E5;
    color: #333333; }
  .color-box.white {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    color: #333333; }
  .color-box.text-color-inv {
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    color: #333333; }
  .color-box.text-color {
    background-color: #666666; }
  .color-box.focus-color {
    background-color: #00CCCC; }
  .color-box.off-white {
    background-color: #f5f5f5;
    border: 1px solid #E5E5E5;
    color: #333333; }

.demo-icon {
  display: block;
  text-align: center; }
